{% extends "base.html" %}

{% block content %}
<h2>Mon Abonnement</h2>

<p><strong>Type :</strong> {{ abonnement.type_utilisateur }}</p>
<p><strong>Date de début :</strong> {{ abonnement.date_debut }}</p>
<p><strong>Date de fin :</strong> {{ abonnement.date_fin }}</p>
<p><strong>Statut :</strong> 
    {% if abonnement.est_actif %}
        Actif ✅
    {% else %}
        Expiré ❌
    {% endif %}
</p>

{% if not abonnement.est_actif %}
<a href="{% if abonnement.type_utilisateur == 'prestataire' %}
    https://pay.wave.com/m/M_ci_sSsHPGoJSRAa/c/ci/?amount=500
{% else %}
    https://pay.wave.com/m/M_ci_sSsHPGoJSRAa/c/ci/?amount=200
{% endif %}" target="_blank" class="btn-renouveler">
    Renouveler mon abonnement
</a>
{% endif %}

{% endblock %}
