{% for service in services %}
<div class="card shadow-sm mb-3">
    <div class="card-body">

        <!-- IMAGE / VIDÉO -->
        {% if service.image %}
            <img src="{{ service.image.url }}" class="img-fluid rounded mb-2" style="height:200px; object-fit:cover;">
        {% elif service.video %}
            <video class="img-fluid rounded mb-2" style="height:200px; object-fit:cover;" controls>
                <source src="{{ service.video.url }}" type="video/mp4">
            </video>
        {% else %}
            <img src="https://res.cloudinary.com/dxndciemg/image/upload/v1763993564/job1_nlecfm.jpg"
                 class="img-fluid rounded mb-2" style="height:200px; object-fit:cover;">
        {% endif %}

        <h5 class="text-primary">{{ service.titre }}</h5>
        <p>{{ service.description|truncatewords:20 }}</p>
        <p class="fw-bold">{{ service.prix }} FCFA</p>

        <a href="{% url 'service_detail' service.id %}" class="btn btn-sm btn-outline-primary">
            Voir plus
        </a>

    </div>
</div>
{% endfor %}
