{% extends "base.html" %}

{% block content %}
<div style="max-width:800px; margin:auto; padding:20px;">
    <h2 style="text-align:center; margin-bottom:20px;">À propos de JobLink</h2>

    <p>
        JobLink est une plateforme innovante conçue pour faciliter la mise en relation 
        entre les Ivoiriens et les opportunités professionnelles. 
        Elle permet aux prestataires de proposer leurs services et aux demandeurs 
        de trouver rapidement le professionnel qu’il leur faut.
        Notre mission est de faciliter l’accès aux services, professions, compétences et petites annonces, partout en Côte d’Ivoire.
    </p>

    <p>
        Que vous soyez <strong>prestataire</strong> ou <strong>demandeur</strong>, JobLink vous permet de trouver rapidement
        ce dont vous avez besoin, ou de proposer vos compétences à un large public.
    </p>

    <h3 style="text-align:center; margin-bottom:20px;">À propos du fondateur</h3>
    <p style="font-size:16px; line-height:1.6;">
        Je me nomme <strong>N'golo Koné</strong>, étudiant en Licence de Mathématiques 
        et Informatique à l’Université Alassane Ouattara de Bouaké.  
        Passionné par la technologie et l’entrepreneuriat numérique, 
        J’ai créé JobLink avec la vision d’offrir une solution moderne, accessible et efficace pour connecter les Ivoiriens aux services dont ils ont besoin.


    </p>


    <hr>

    <h3 style="text-align:center; margin-bottom:20px;">Nos valeurs</h3>
    <ul>
        <li>✔ Simplicité</li>
        <li>✔ Accessibilité</li>
        <li>✔ Fiabilité</li>
        <li>✔ Innovation</li>
    </ul>
</div>
{% endblock %}
